.edit-cover, .edit-avatar {
	position: relative;
	top: -60px;
	display: none;
}
#plus1 {
	position: relative;
	top: -30px;
	background-color: transparent;
	border: none;
}
#plus2 {
	position: relative;
	top: -150px;
	background-color: transparent;
	border: none;
}
.btn-save {
	background-color: transparent;
	border: none;
}
#edit1, #edit2 {
	background-color: transparent;
	border: none;
}
.x1, .x2 {
	float: left;
	display: none;
	grid-template-columns: repeat(2, auto);
}
.list-profile {
	grid-template-columns: repeat(1, auto);

}
.name-profile h1 {
	text-align: center;
	vertical-align: middle;
}
.input {
	margin-left: 20px;
	float: left;
	width: 
}
.contain-form label {
	float: left;
	margin-top: 15px;
	text-align: center;
	vertical-align: middle;
}
.input1 {
	width: 317px;
}
.input3 {
	width: 300px;
}
.input4 {
	width: 290px;
}
.input5 {
	width: 353px;
}
.input6 {
	width: 350px;
}
.input7 {
	width: 320px;
}
.r-s {
	right: -300px !important;
}
#quote-edit {
	display: none;
}
.contain-form a {
	float: left;
	margin-top: 15px;
	text-align: center;
	vertical-align: middle;
	margin-left: 15px;
	background-color: transparent;
	border: none;
}
@media (max-width: 600px) {
	#plus2 {
		top: -50px;
	}
}