
extends ./layouts/navbar-pr
block content

		div.top-profile
			div.cover
				img(src='/images/zz.jpg' alt='bg-cover').bg-cover
			div.avt-profile-d
				img(src='/images/avt-x.jpg', width="200px").avt-profile
				div.name-profile 
					h1
						| Th&aacute;i 
						span
							h6#cc (Luta Krystal)

				div.his
					p 04KOLONOFE =))))
		div.body-profile
			img.bg-color(src="/images/bg-color.png")
			h1.creator Creator
			img(src='/images/avt-author.jpg', width="200px").avt-author
			div.cv 
				h1 Nguy&#x1EC5;n V&abreve;n Th&aacute;i
				p Kh&ocirc;ng l&agrave;m m&agrave; mu&#x1ED1;n c&oacute; &abreve;n th&igrave; ch&#x1EC9; c&oacute; &abreve;n c, &abreve;n &dstrok;&#x1EA7;u b =))))
				p.z1 Contact me: 0764323005
		footer#footer
			.footer-div
				h1.title-logo Amber
				.list-contact#contact
					a(href='https://www.facebook.com/lutakrystal305/', target='_blank')
						i.fab.fa-facebook
						span Facebook
					a(href='https://www.instagram.com/Lutakrystal/?fbclid=IwAR06U45xL97LvE171Y1VotccXnOaWzHvxqJfXETaGY97l5gT0WvatETUd1o', target='_blank')
						i.fab.fa-instagram-square
						span Instagram
					a(href='https://www.youtube.com/channel/UCjddmzteQBzAvqOSXE9tHKA?view_as=subscriber', target='_blank')
						i.fab.fa-youtube
						span Youtube
					a(href='javascript:void(0)')
						i.fab.fa-twitter
						span twitter
					a(href='https://github.com/lutakrystal305', target='_blank')
						i.fab.fa-github
						span Github
				.avt-x
					img(src='./images/avt-x.jpg', style='width: 150px; height: 150px;')
				.version
					| &copy; 2020 Luta Krystal - All Rights Reserved.




